body {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 20px;
  background-color: #eee;
}

#viewpaste {
  background-color: #ddd;
  min-height: 150px;
  border-radius: 7px;
}

.viewpastebox {
  margin: 10px;
  overflow: auto;
}

.syntaxtable {
  width: 100%;
}

.syntaxtable pre {
  margin: 0;
}

.syntaxtable td {
  margin: 0;
  padding: 0;
}

.syntaxtable .linenos {
  padding-right: 10px;
  width: 24px;
  color: #999;
}

.code {
}

.lexers .hd {
  background-color: #FFBA27;
  color: black;
  padding-left: 0;
}

.lexers option {
  padding-left: 1em;
}

div#content a {
  color: #FFBA27;
  font-weight: bold;
  text-decoration: none;
  background-color: #FAFAFA;
  border-bottom: 1px solid #F1F1F1;
  border-right: 1px solid #F1F1F1;
  padding: 1px;
}

div#content a:hover {
  color: #FFBA27;
  font-weight: bold;
  text-decoration: none;
  background-color: #FAFAFA;
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
  padding: 1px;
}

div#header {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #0c5aa6;
  letter-spacing: -1px;
}
h1 a {
  color: #04396c;
  text-decoration: none;
}

h2 { /* The tagline thing */
  font-size: 11px;
  font-weight: normal;
  color: #999;
  padding-left: 20px;
  margin-top: -10px;
}

#navigation {
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  float: right;
  margin-top: 10px;
}

#navigation li {
  display: inline;
  padding-right: 20px;
  font-size: 11px;
}

#navigation li a {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  padding: 4px;
  text-decoration: none;
}

#navigation li a:hover {
  text-decoration: underline;
}

div .pastebox {
}

.pastearea {
  margin: 5px;
  padding: 5px;
  width: 640px;
  height: 348px;
  background: transparent;
  border: none;
  resize: none;
  color: #888;
  font-size: 16px;
}

.pastebox {
  position: relative;
  float: left;
  width: 665px;
  height: 400px;
  padding: 0;
  border: 1px solid #efefef;
  margin: 0px 0px 20px 20px;
  background: #fff;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.pastebox:before,
.pastebox:after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 70%;
  max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
  height: 55%;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -webkit-transform: skew(-9deg) rotate(-4deg);
  -moz-transform: skew(-9deg) rotate(-4deg);
  -ms-transform: skew(-9deg) rotate(-4deg);
  -o-transform: skew(-9deg) rotate(-4deg);
  transform: skew(-9deg) rotate(-4deg);
}

.pastebox:after {
  left: auto;
  right: 10px;
  -webkit-transform: skew(9deg) rotate(4deg);
  -moz-transform: skew(9deg) rotate(4deg);
  -ms-transform: skew(9deg) rotate(4deg);
  -o-transform: skew(9deg) rotate(4deg);
  transform: skew(9deg) rotate(4deg);
}


div .options {
  font-size: 15px;
  padding-left: 10px;
}

div .ttl {
  color: #666;
  text-align: right;
  padding-right: 10px;
}

div .pl {
  margin-top: 10px;
}

div .security {
  font-size: 20px;
  color: #333;
  border-radius: 7px;
  margin-left: 30px;
}

div .security input {
  background-color: blue;
}

div.pastebutton {
  float: right;
  margin-right: 30px;
  text-align: right;
  opacity: 0.5;
  -webkit-transition: opacity ease-out 200ms;
  -moz-transition: opacity ease-out 200ms;
  -ms-transition: opacity ease-out 200ms;
  -o-transition: opacity ease-out 200ms;
  transition: opacity ease-out 200ms;
}

div.pastebutton:hover {
  opacity: .9;
  -webkit-transition: opacity ease-in 200ms;
  -moz-transition: opacity ease-in 200ms;
  -ms-transition: opacity ease-in 200ms;
  -o-transition: opacity ease-in 200ms;
  transition: opacity ease-in 200ms;
}

select {

}

div#footer p {
  padding: 5px 10px;
}

div#footer {
  text-align: center;
  color: #bbb;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

div#footer a,
div#footer a:hover {
  background-color: #333;
  color: #FFF;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFBA27;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}