body {
  font-family: 'Lucida Grande', Arial, Helvetica, sans-serif;
  margin-top: 20px;
  background-color: #fafafa;
}


/**
 * Page header style.
 */

div#header {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

/* Title headers. */
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #0c5aa6;
  letter-spacing: -1px;
}
h1 a {
  color: #04396c;
  text-decoration: none;
}

h2 { /* The tagline thing */
  font-size: 11px;
  font-weight: normal;
  color: #999;
  padding-left: 20px;
  margin-top: -10px;
}


/**
 * Page navigation links.
 */

#navigation {
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  float: right;
  margin-top: 10px;
}

#navigation li {
  display: inline;
  padding-left: 20px;
  font-size: 11px;
}

#navigation li a {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  padding: 4px;
  text-decoration: none;
}

#navigation li a:hover {
  text-decoration: underline;
}


/**
 * Message banner overlay.
 */
div.banner {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  color: #ddd;
  opacity: 0.8;
  margin: 0;
  width: 100%;
  padding: 15px 0 15px 0;
  font-size: 20px;
  text-align: center;
}


/**
 * Style for the paste textarea and surrounding elements.
 */

.pastearea {
  margin: 5px;
  padding: 5px;
  width: 640px;
  height: 348px;
  background-image: url('../img/pastehere.png');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  resize: none;
  color: #888;
  font-size: 16px;
}

.pastearea.blur {
  background-image: none;
}

.pastebox {
  position: relative;
  float: left;
  width: 665px;
  height: 400px;
  padding: 0;
  border: 1px solid #efefef;
  margin: 0px 0px 20px 20px;
  background: #fafafa;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.pastebox:before,
.pastebox:after {
  content: '';
  z-index: -1;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 70%;
  max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
  height: 55%;
  -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  -webkit-transform: skew(-9deg) rotate(-4deg);
  -moz-transform: skew(-9deg) rotate(-4deg);
  -ms-transform: skew(-9deg) rotate(-4deg);
  -o-transform: skew(-9deg) rotate(-4deg);
  transform: skew(-9deg) rotate(-4deg);
}

.pastebox:after {
  left: auto;
  right: 10px;
  -webkit-transform: skew(9deg) rotate(4deg);
  -moz-transform: skew(9deg) rotate(4deg);
  -ms-transform: skew(9deg) rotate(4deg);
  -o-transform: skew(9deg) rotate(4deg);
  transform: skew(9deg) rotate(4deg);
}

/* Lexer and TTL divs. */
div .options {
  font-size: 15px;
  padding-left: 10px;
}

/* Options in lexer dropdown. */
.lexers option {
  padding-left: 1em;
}

/* Header in lexer dropdown. */
.lexers .hd {
  color: #666;
  padding-left: 0;
}

/* TTL div. */
div .ttl {
  color: #666;
  text-align: right;
  padding-right: 10px;
}

/* Div below the paste box. */
div .pl {
  margin-top: 10px;
}

/* Security options. */
div .security {
  font-size: 20px;
  color: #888;
  margin-left: 30px;
}

div .security label {
  font-weight: normal;
}

/* Clickable paste button to submit a paste. */
div.pastebutton {
  float: right;
  margin-right: 30px;
  text-align: right;
  opacity: 0.5;
  -webkit-transition: opacity ease-out 200ms;
  -moz-transition: opacity ease-out 200ms;
  -ms-transition: opacity ease-out 200ms;
  -o-transition: opacity ease-out 200ms;
  transition: opacity ease-out 200ms;
}

div.pastebutton:hover {
  opacity: .9;
  -webkit-transition: opacity ease-in 200ms;
  -moz-transition: opacity ease-in 200ms;
  -ms-transition: opacity ease-in 200ms;
  -o-transition: opacity ease-in 200ms;
  transition: opacity ease-in 200ms;
}


/**
 * Style used when viewing a paste.
 */

.viewcontainer {
  margin: 0 auto;
  min-height: 150px;
  padding: 1px 0 5px 0;
  width: 669px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.viewcontainer .wrap {
  width: 16px;
  height: 16px;
  margin: 10px 10px 0 0;
  float: right;
  background-image: url('../img/wrap-bw.png');
  opacity: 0.4;
  -webkit-transition: opacity ease-out 200ms;
  -moz-transition: opacity ease-out 200ms;
  -ms-transition: opacity ease-out 200ms;
  -o-transition: opacity ease-out 200ms;
  transition: opacity ease-out 200ms;
}

.viewcontainer .wrap.selected {
  background-image: url('../img/wrap.png');
  opacity: 1.0;
}

.viewcontainer .linkify {
  width: 16px;
  height: 16px;
  margin: 10px 10px 0 0;
  float: right;
  background-image: url('../img/link-bw.png');
  opacity: 0.4;
  -webkit-transition: opacity ease-out 200ms;
  -moz-transition: opacity ease-out 200ms;
  -ms-transition: opacity ease-out 200ms;
  -o-transition: opacity ease-out 200ms;
  transition: opacity ease-out 200ms;
}

.viewcontainer .linkify.selected {
  background-image: url('../img/link.png');
  opacity: 1.0;
}

.viewinfo {
  margin: 5px 5px 5px 10px;
  color: #ccc;
  font-size: 16px;
}

.viewinfo a {
  color: #ccc;
  text-decoration: none;
}

.viewinfo a:hover {
  text-decoration: underline;
}

.viewinfo .viewid.expired {
  color: red;
  text-decoration: line-through;
}

.viewpastebox {
  margin: 5px 10px 0 10px;
  overflow: auto;
}

.viewpastebox img {
  display: block;
  margin: 0 auto;
}

/* Links left (new paste). */
#viewpaste .ll {
  margin-top: 5px;
  margin-left: 30px;
}

/* Links right (raw | download). */
#viewpaste .lr {
  margin-top: 5px;
  text-align: right;
  margin-right: 30px;
}

.syntaxtable {
  width: 100%;
  margin-bottom: 10px;
  background-color: inherit;
}

.syntaxtable pre {
  margin: 0;
  font-family: 'Bitstream Vera Sans Mono', Monaco, Consolas, 'Courier New', monospace;
  font-size: 12px;
}

.syntaxtable pre.wrapped {
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 645px;
}

.syntaxtable td {
  margin: 0;
  padding: 0;
}

.syntaxtable .linenos {
  padding-right: 10px;
  text-align: right;
  width: 24px;
  color: #999;
}

.syntaxtable .linenos pre {
  width: 24px;
}

.syntax {
  background-color: transparent;
}


/**
 * View of expired paste error message.
 */

.expiredcontainer {
  margin: 0 auto;
  min-height: 150px;
  padding: 1px 0 5px 0;
  width: 669px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.expiredcontainer p {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  font-size: 24px;
  color: #999;
}

#expiredpaste .ll {
  margin-top: 5px;
  margin-left: 30px;
}


/**
 * Footer style.
 */

div#footer p {
  padding: 5px 10px;
}

div#footer {
  text-align: center;
  color: #bbb;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

div#footer a,
div#footer a:hover {
  background-color: #333;
  color: #FFF;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFBA27;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid #333;
  border-right: 1px solid #333;
}