#
# Pastee settings file.
#
# Rename this to settings.py.
#

# This helps make the keys created in the datastore unique to this installation
# of Pastee. Change this to a unique string for each instance of Pastee using
# the same datastore.
# WARNING: Changing this prefix will cause existing pastes to be not found.
SITE_PREFIX = '39mzr'

# Max paste length, in KiB. Pastes longer than this will be rejected.
# Default: 128 KiB
MAX_LENGTH = 128

# Max TTL (Time To Live), in seconds. The backend will reject pastes with
# requested TTLs longer than this value.
# Default: 1 year
MAX_TTL = 86400 * 365

# Default TTL (Time To Live), in seconds. If the TTL is not specified at paste
# creation time, this value will be used.
# Default: 1 month (30 days)
DEFAULT_TTL = 86400 * 30
