#
# Pastee settings file.
#
# Rename this to settings.py.
#

# This helps make the keys created in the datastore unique to this installation
# of Pastee. Change this to a unique string for each instance of Pastee using
# the same datastore.
# WARNING: Changing this prefix will cause existing pastes to be not found.
SITE_PREFIX = '39mzr'
