* {
  margin: 0;
  padding: 0;
}

#save {
  position: relative;
  float: right;
  top: 2em;
  left: -2em;

  background-color: #0e83cd;
  border: 3px solid white;
  box-sizing: border-box;
  color: white;
  display: block;
  font-family: Lato, Calibri, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 70px;
  letter-spacing: 1px;
  line-height: 24px;
  min-width: 260px;
  text-transform: uppercase;
  transition-delay: 0;
  transition-duration: 0.3s;
  transition-property: All;
  transition-timing-function: ease;
}

#save:hover {
  background-color: white;
  border: 3px solid #0e83cd;
  color: #0e83cd;
}
